.App {
  text-align: center;
  color:dodgerblue;
  place-content: center;
  place-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navs{
  display:flex;
  justify-content: space-between;
  margin:0px 0px 0px 50px;
  
}
.navbar{text-align: center;
  margin:10px;
 text-align: center;
 display:flex;
  
}
nav a{text-align: center;
margin:10px;}
nav{text-align: center;
float:center;}
.navbar button{float:right;}
a{text-decoration: none;
margin:5px;}
.nav{
  /*margin-right: 80px;*/
  padding-left: 70px;
}
.wrap{
  display:flex;
}
h{color:black;
font-size:32px;
font-weight: 600;
margin-right: 40px;}
.Wraps{background-image: url(img/digital-service1\ \(1\).png);
  position:relative;
}
#Bimage{
  position:absolute;
  top:10px;
  left:10px;
}
.flexy{
  display:flex;
  color:black;
  padding-bottom:30px;
}
#z{
  z-index:1;
  margin-top: -97px;
}
img{
  
width:25%;
}
#img{width:40%;}
.flexy,.flexy1,.flexy2,.flexy3{
  display:flex;
  place-content: center;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 60px;

  
}
.sct4{margin-bottom: 50px;
  
}
.wrap1{background-image:url(img/digital-service1\ \(1\).png) ;
place-content:right;
/*<<<<<<< HEAD*/
height:40%;
/*=======*/
padding:10px;
/*>>>>>>> 9d36bdd8831f73462aa014805dfddfe616eac13d*/
/*width:40%;*/
}
#img{width:80%;
  
}
button{
  background-color:rgb(133, 122, 242);
  color:white;
  border-radius:10px;
  padding:15px;
  border: none;
  font-size:16px;
width:30%;
}
#btn2{color:rgb(133, 122, 242);
  background-color: rgb(226, 227, 252);
}
.hero{margin-top:40px;
  place-content: left;
  text-align: left;

}
.flexy1,.flexy{
  background-color: #EFEFF1;
  padding-top: 80px;
  padding-bottom: 100px;
  

}
.flexy2{
  padding-bottom:30px4
}

h1,h2,h3,h4,h5,p{
  color:black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{color:black;
  font-size:32px;
  font-weight:600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
/*<<<<<<< HEAD*/
  list-style: none;
  line-height: 37px;
}
p{font-size:18px;
  line-height: 22px;

}
h{line-height: 28px;
  font-size:24px;
}
.column,#card1{
  background-color:rgb(250, 249, 247);
/*=======*/
}
p{font-size:18px;

}
h{
  font-size:24px;
}
.column,#card1{
  background-color: rgb(243, 241, 238);
/*>>>>>>> 9d36bdd8831f73462aa014805dfddfe616eac13d*/
  padding:10px;
  border-radius:10px;
  border-style: outset;
  margin:2px;
  width:25%;
  
}
.sct1{
  padding:40px;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flexy3{
  background-color: #EFEFF1;
  padding-top: 50px;

}
.card{width:20%;}
.grid{background-color: #FFFFFF;
padding:20px;}
#images{
width:5%;
height:5%;
}
.flex{display:flex;
justify-content: space-around;}
/*<<<<<<< HEAD*/
.column1{
  text-align: left;
  
  place-items: left;
}
ul li{
  text-align:left;
}
.style{
  width:80%;
  outline:1px solid red;
}
#imgs1{
  width:50%;
}
  
  .flex{justify-content: space-around;
  margin-top:40px;
margin-bottom:40px;
padding-top: 60px;
padding-bottom: 60px;}
.counter h3{
  color:rgb(133, 122, 242);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:28px;
}
.memeheader{
  display:flex;
  /*padding:20px;*/
  color:white;
  background-color: rgb(133, 122, 242);
}
.header-img{
  max-height: 30px;
  width:30px;
  margin-right: 10px;
  margin-top:25px;
}
.headerTitle{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-right: auto;
  margin-top:25px;
}
.header-text{
  font-size:20px;
  font-weight: 200;
  margin-right: 50px;
}
.input-field{
  /*padding:15px;*/
  /*width:25%;*/
  display:flex;
  justify-content: space-around;
  margin:20px;
  border-radius: 10px;;
}
.grid{display:grid;
  margin:20px;
place-items:center;}
.memesmaker{
  padding:60px;
}
#card1{
  padding:10px;
  width:30%;
}
#g{
  display:grid;
}
label{
  text-align: left;
  /*background-color:antiquewhite*/
}
.flext{
  display:flex;
  justify-content:space-between;
}
#pheadings:hover{
color:#777AF2;
}
#wkbtn{color:#777AF2;
  width:70%;
  background-attachment: fixed;
  background-color: transparent;
  
  border:1px solid #777AF2; ;
}
#wkbtn:hover{
  color:white;
  background-color: #777AF2;
}
.text{
  text-align: left;
  place-items: left;
}
.flex{
  justify-content:space-evenly;
}
#portfolioImg{
  width:50%;
}
.footer{
background-image: url(img/footer.jpg);
background-repeat: no-repeat;
background-attachment: scroll;
background-blend-mode: overlay;
background-color: rgb(54, 54, 54);
background-position: cover;
padding:50px;
color:white;
}
#footertext,#footertext1{
  color:white;
}
#Fbtn{
  width:auto;

}
#Fbtn:hover{
  color:#777AF2;
    width:auto;
    background-attachment: fixed;
    background-color: transparent;
    
    border:1px solid #777AF2; ;
  
}
/*My debugging css*/
#img1{
  height:305;
}
.imgBackground{
  background-image: url(img/digital-service1\ \(1\).png);
}
.navigation{
  display:flex;
  justify-content: space-between;
}
.flexys{
  display:flex;
  justify-content:space-around;
  padding:auto;
  margin-top: 20px;
}
#article{
  margin:10px;
}
#picture{
  width:100%;
}
#btn2{align-content: left;
  margin-left: -30px;
  align-items: flex-start;
}
.column1{
  text-align:left;
  place-content:left;
  place-items:left;
}
#count{
  color:#8D95F8;
}
@media only screen and (max-width: 900px){
nav a{display:none;}
button{padding:10px;
width:50%;}
button:hover{background-color:transparent;
  border:1px solid rgb(133, 122, 242);}
  
.navbar button{width:auto;
padding:5px;}
.navbar button:hover{background-color:transparent;
border:1px solid rgb(133, 122, 242);}

.flexy3{display:grid;
padding:20px;}
.flexy2,.flexy,.flex,.flexys{display:grid;
text-align: center;}
.hero{padding:45px;}
span{display:grid;}
.hero button{margin:5px;
padding:5px;}
#btn,#btn2{margin:5px;
  width:50%;
  float:left;
padding:5px;}
/*#Bimage{width:100%;}*/
#btn2:hover{
  background-color:rgb(133, 122, 242);
  color:white;
  border-radius:10px;
  padding:5px;
  border: none;
  font-size:16px;
width:30%;
}
button:hover{color:rgb(133, 122, 242);

  background-color: rgb(226, 227, 252);
}
h1{font-size:22px;}
p{font-size:14px;}
.sct1{padding:50px;}
.sct1 h1{}
.column,#article{padding:10px;
width:100%;
border-style: none;}
h3{text-align:center}
#sct4{padding:30px;
text-align: center;}
.column:hover{background-color: #e7e7e9;}
.column1{text-align: center;}
#article:hover{background-color: #e7e7e9;}
/*.counter:hover{background-color: #8D95F8;
color:white;
width:100%}
.counter h2{color:white;}
.counter p{color:white;}*/
#card1{width:100%;}
.footer{padding:60px;}
.footer h3{font-size:20px;}
.footer h2{font-size:26px;}

}
/*=======*/
/*>>>>>>> 9d36bdd8831f73462aa014805dfddfe616eac13d*/
